
.container {
  padding: 2rem;
  padding-top: 6rem; 
  text-align: center;
  background-color: #0d0d0d;
  min-height: 100vh;
  color: #fff;
  font-family: 'Poppins', sans-serif;

  background-color: transparent;
     
}

/* Título da seção */
.title {
  font-size: 2.3rem;
  color: #ff7518;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 8px #000;
  font-family: 'Creepster', cursive;
  letter-spacing: 2px;
}

/* Container dos filmes */
.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

/* Mensagem de carregamento */
.movies-container p {
  font-size: 1.2rem;
  color: #ffb347;
}

/* Responsividade — para celulares e tablets */
@media (max-width: 768px) {
  .title {
    font-size: 1.8rem;
  }

  .movies-container {
    gap: 1rem;
  }
}
